#pitch-wheel {
  font-family: 'Open Sans Condensed';
  font-weight: bold;
  width: 100%;
  margin-left: 0;
  height: 32vw;
  overflow: hidden;
  margin-top: 30px;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  -webkit-mask-image: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 5%,
    #fff 25%,
    #fff 75%,
    rgba(255, 255, 255, 0) 95%
  );
  mask-image: linear-gradient(
    left,
    rgba(255, 255, 255, 0) 5%,
    #fff 25%,
    #fff 75%,
    rgba(255, 255, 255, 0) 95%
  );
}

@media only screen and (max-width: 1024px) {
  #pitch-wheel {
    height: 38vw;
  }
}

#pitch-wheel-needle {
  position: absolute;
  left: 0;
  right: 0; 
  margin: auto;
  width: 0; 
  height: 0; 
  border-left: .5vw solid transparent;
  border-right: .5vw solid transparent;
  border-top: 2vw solid #e25c1b;
}

#pitch-wheel svg {
  fill: rgb(67,111,142); 
  width: 200%; 
  margin-left: -50%; 
  transform-origin: center center;
}

#pitch-detector {
  position: relative;
  margin-bottom: 5vw;
}

#pitch-detector svg {
  font-weight: bold;
}

#pitch-audio-start {
 position: relative;
 height: 150px;
}

#pitch-freq {
  font-family: 'Open Sans Condensed'; 
  font-weight: bold; 
  text-align: center; 
  position: relative; 
  height: 150px;
  top: -8vw; 
  margin: 0 15vw;
  color: rgb(67,111,142);
}

#pitch-freq-text {
  display: none;
  font-size: 50px; 
  line-height: 50px;
  padding: 50px 0;
}
