#pitch-wheel {
  font-family: 'Open Sans Condensed';
  font-weight: bold;
  width: 100%;
  margin-left: 0;
  height: 32vw;
  overflow: hidden;
  margin-top: 50px;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  -webkit-mask-image: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 5%,
    #fff 25%,
    #fff 75%,
    rgba(255, 255, 255, 0) 95%
  );
  mask-image: linear-gradient(
    left,
    rgba(255, 255, 255, 0) 5%,
    #fff 25%,
    #fff 75%,
    rgba(255, 255, 255, 0) 95%
  );
}

@media only screen and (max-width: 1024px) {
  #pitch-wheel {
    height: 38vw;
  }
}

#pitch-wheel-needle {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 3vw;
  border-left: 3vw solid transparent;
  border-right: 3vw solid transparent;
  border-top: 3vw solid rgb(67,111,142);
}

#pitch-wheel-needle.active {
  border-top-color: #e25c1b;
}

#pitch-wheel svg {
  fill: rgb(67,111,142); 
  width: 200%; 
  margin-left: -50%; 
  transform: rotate(-1035deg);
  transform-origin: center center;
}

#pitch-detector {
  position: relative;
  margin-bottom: 5vw;
}

#pitch-detector svg {
  font-weight: bold;
}

#pitch-audio-start {
  position: relative;
  min-height: 150px;
  margin-bottom: 20px;
}

#audio-start {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  width: 150px;
  height: 150px;
  margin-bottom: 14px;
}

#pitch-freq {
  font-family: 'Open Sans Condensed'; 
  font-weight: bold; 
  text-align: center; 
  position: relative; 
  min-height: 150px;
  max-width: 500px;
  margin: auto;
  padding: 0 1vw;
  top: -12vw; 
  color: rgb(67,111,142);
}

#pitch-freq-text {
  display: none;
  font-size: 50px; 
  line-height: 50px;
  padding: 25px 0;
}

#pitch-freq-text + div {
  margin-top: 75px;
}
