#pitch-wheel {
  font-family: 'Open Sans Condensed';
  font-weight: bold;
  width: 100%;
  margin-left: 0;
  height: 32vw;
  overflow: hidden;
  margin-top: 50px;
  contain: content;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  -webkit-mask-image: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 5%,
    #fff 25%,
    #fff 75%,
    rgba(255, 255, 255, 0) 95%
  );
  mask-image: linear-gradient(
    left,
    rgba(255, 255, 255, 0) 5%,
    #fff 25%,
    #fff 75%,
    rgba(255, 255, 255, 0) 95%
  );
}

@media only screen and (max-width: 1024px) {
  #pitch-wheel {
    height: 38vw;
  }
}

#pitch-wheel-needle {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 3vw;
  border-left: 3vw solid transparent;
  border-right: 3vw solid transparent;
  border-top: 3vw solid rgb(67,111,142);
}

#pitch-wheel-needle.active {
  border-top-color: #e25c1b;
}

#pitch-wheel svg {
  fill: rgb(67,111,142); 
  width: 200%; 
  margin-left: -50%; 
  transform: rotate(-1035deg);
  transform-origin: center center;
}

#pitch-detector {
  position: relative;
  margin-bottom: 5vw;
}

#pitch-detector svg {
  font-weight: bold;
}

#pitch-audio-start {
  position: relative;
  min-height: 150px;
  margin-bottom: 20px;
}

.audio-button {
  margin: 0 auto;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  transition: transform 1s ease;
  margin-bottom: 20px;
}

.shrink-animation, .blob-animation {
  transform-origin: top center;
  animation-duration: 125ms;
  animation-timing-function: ease;
}

.shrink-animation {
  animation-name: shrink-animation;
}

.blob-animation {
  animation-name: blob-animation;
}

#audio-start {
  width: 135px;
  height: 135px;
}

#audio-pause {
  width: 45px;
  height: 45px;
  display: none;
}

#pitch-freq {
  font-family: 'Open Sans Condensed'; 
  font-weight: bold; 
  text-align: center; 
  position: relative; 
  min-height: 150px;
  max-width: 500px;
  margin: auto;
  padding: 0 1vw;
  top: -12vw; 
  color: rgb(67,111,142);
}

#pitch-freq-text {
  display: none;
  font-size: 50px; 
  line-height: 50px;
  padding: 25px 0;
  contain: content;
}

#pitch-freq-text + div {
  margin-top: 25px;
}

.shockwave {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  color: #e25c1b;
  animation-name: shockwave;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in; }

@keyframes shockwave {
  0% {
    transform: scale(1);
    opacity: 1; 
    box-shadow: 0 0 2px, inset 0 0 1px; }
  89.9999% {
    transform: scale(1);
    opacity: 0;
    box-shadow: 0 0 50px, inset 0 0 10px; }
  90%, 100% {
    transform: scale(1);
    opacity: 0;
    box-shadow: 0 0 2px, inset 0 0 1px; }
}
@keyframes shrink-animation {
  0% { transform : scale(3) }
  100% { transform: scale(1) }
}
@keyframes blob-animation {
  0% { transform : scale(0.33) }
  100% { transform: scale(1) }
}
